body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.container {
    overflow-x: hidden !important;
}

/*--- Navegador y Jumbotron ---*/

.navbar .navbar-brand img {
    width: 200px;
    height: 77px;
}

 .navbar .navbar-collapse .nav-link {
     color: #005385;
     letter-spacing: 0.1em;
 }

.jumbotron{
    background: url("../images/Brutos/muelle.JPG") no-repeat center center;
    background-size: cover;
    background-position-y: 60%;
    height: 25em;
    background-color: rgba(211, 211, 211, 0.3);
}

.jumbotron:after {
    opacity: 0.3;
}


.jumbotron h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    letter-spacing: 0.1em;
    font-weight: 300;
}


.jumbotron .boton {
    background: #3da5e2;
    border: none;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.jumbotron .boton:hover {
    background: #1ba0ef;
}

.jumbotron .slogan {
    color: #fff;
    font-weight: 400;
}

/*--- Contenido principal ---*/

main {
    /*border-bottom: 1px solid #cbcbcb;*/
    margin-bottom: 40px;
}

.test {
    padding-right: 0;
    padding-left: 0;
}

.container .principal {
    margin-top: 65px;
}

.card h2 {
    font-weight: 300;
    margin-bottom: 15px;
}

.card .card-img-top {
    height:250px;
}

/* --- PORTAFOLIO --- */

.portafolio {
    background: #fff;
    border-top: 5px solid #3da5e2;
    padding: 0 20px;
}

.portafolio .titulo {
    padding: 40px 0;
    text-align: center;
    color: #3da5e2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {
    margin-bottom: 40px;
    max-height: 180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
    background: #3da5e2;
    display: inline-block;
}

.portafolio .galeria .contenedor-imagen:hover img {
    opacity: .3;
}

.portafolio .modal-dialog {
    margin: 0px auto;
    height: 100%;
    max-width: 1000px;
}

.portafolio .modal-content {
    width: auto;
}

/* --- QUIENES SOMOS ---*/
.quienessomos .nombre {
    color: #545454;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2px;
}

.tituloquienes {
    color: #003855;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.quienessomos .descripcion{
    padding: 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}


/* --- CONTACTO ---*/

.contacto {
    padding: 40px 0;
    margin-bottom: 40px;
}

.contacto .titulo {
    color: #003855;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.contacto .form-group {
    margin-bottom: 0;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    padding: 15px;
    border: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.formulario textarea {
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.formulario .boton {
    background: #3da5e2;
    border: none;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.formulario .boton:hover {
    background: #1ba0ef;
}

/* --- SLIDER ---*/
.slider {
    margin-bottom: 40px;
}

.slider .col {
    padding: 0;
}


/* --- FOOTER ---*/

.redes-sociales {
    padding: 40px 0;
    margin-bottom: 40px;
}

.redes-sociales .icono {
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 80px;
    color: #fff;
    text-align: center;
    background: #cbcbcb;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s ease;
}

.redes-sociales .twitter {background: #1da1f2;}
.redes-sociales .instagram {background: #833ab4;}
.redes-sociales .facebook {background: #3b5998;}

.logo {
    width: 200px;
    height: 77px;
}

footer h3 {
    font-weight: 300;
    letter-spacing: 0.1em;
}

footer ul li {
    font-weight: 300;
    letter-spacing: 0.1em;
}